div {
  font-family: Lato;
}

.board {
  width: 700px;
  border: 1px solid saddlebrown;
  height: 600px;
  display: flex;
  justify-content: space-evenly;
}

.lane {
  border: 1px solid black;
  padding: 2px;
  display: flex;
  flex-direction: column;
}

.task {
  padding: 0.75em 1.5em 0.75em 1em;
  margin-bottom: 0.5em;
  background: #cfcfcf;
  cursor: pointer;
  font-size: 0.85em;
  font-family: "Roboto Slab", sans-serif;
}
.task:hover {
  outline: 3px solid #205081;
}

.heading {
  padding: 1em 0;
  font-weight: bolder;
  background: #ffffff;
  color: #000000;
  border-bottom: 0.5em solid #ffffff;
  text-align: center;
  font-family: "Roboto Slab", sans-serif;
}

.todo {
  background: #3572b0;
}

.doing {
  background: #f6c342;
}

.done {
    background: #14892c;
}